files:
    "/etc/httpd/conf.d/enable_cache.conf":
        mode: "000444"
        owner: root
        group: root
        content: |
            <FilesMatch "\.(ico|svg|json|jpg|jpeg|png|webp|gif|js|css|woff)$">
                Header set Cache-Control "public, max-age=31557600"
            </FilesMatch>
